@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
}

@font-face {
  font-family: Cocogoose;
  src: url('../fonts/cocogoose/Cocogoose.ttf'); 
}

@font-face {
  font-family: PRIMETIME;
  src: url('../fonts/primetime/PRIMETIME.ttf'); 
}

@font-face {
  font-family: Action Jackson;
  src: url('../fonts/action_jackson/actionj.ttf'); 
}

@font-face {
  font-family: Couture;
  src: url('../fonts/couture/couture-bld.otf'); 
}

@font-face {
  font-family: Couture;
  src: url('../fonts/couture/couture-bldit.otf'); 
}

@font-face {
  font-family: Cocogoose Pro;
  src: url('../fonts/cocogoose/Cocogoose-Pro-Italic.ttf'); 
}

@font-face{
  font-family: Highstories Sans;
  src: url('../fonts/highstories_sans/Highstories-Sans.otf');
}

@font-face{
  font-family: california;
  src: url('../fonts/california.otf');
}

@font-face{
  font-family: california-medium;
  src: url('../fonts/california-medium.otf');
}

/*cream = #ffedba*/
/*dongker = #293d5e */
/*oren = #ec462e*/

.formpesan input[type=text], select {
   border: 1px solid #444242;
    border-radius: 0;
    width: 8%;
    padding: 2px 2px 2px 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

input[type=text]:hover{
  /*background-color:#ebebeb;*/
  /*border:none;
  border: 1px solid #e0dede;
  background-color: #f4f4f4;*/

}
input[type=submit] {
    /*width: 20%;*/
    background-color: black;
    color: white;
    width: 8%;
    padding: 6px 6px 6px 8px;
    /*margin: 8px 80%;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-filter:brightness(95%);
}

input[type=submit]:hover {
    background-color: #ec462e;
}

.lform{
  font-size: 20px;
  font-family: lato-bold;
}

#readpesan td span{
  font-family: lato-regular;
  font-size: 20px;
}

#readpesan table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 4%;
 /*  min-height: 60vh;*/
  border-collapse: separate; 
  border-spacing: 0 10px; 
  overflow: hidden;
  background-color: #fff;
   margin-right: -30px;
  padding-right: 30px;
  margin-left: 15px;

}

#readpesan table tr {
  overflow: hidden; 
  border-bottom: 10px solid #fff;
  border-radius: 15px;
}

#readpesan table td {
font-family: Lato-Regular;
  font-size: 15px;
  color: #444242;
  line-height: 1.4;
  background-color: #f4f4f4;
  text-align: center;
  border: solid 1px transparent;
    border-style: solid none;
    /*padding-top: 10px;
    padding-bottom: 10px;*/

    font-weight: unset;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  
}

#readpesan tr:hover td {
  background-color: #ebebeb;
  cursor: pointer;
}

#readpesan td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

#readpesan td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

/*===============================*/
#tabelpolos td span{
  font-family: lato-regular;
  font-size: 20px;
}

#tabelpolos table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 4%;
 /*  min-height: 60vh;*/
  border-collapse: separate; 
  border-spacing: 0 10px; 
  overflow: hidden;
  background-color: #f4f4f4;
   margin-right: -30px;
  padding-right: 30px;
  margin-left: 15px;

}

#tabelpolos table tr {
  overflow: hidden; 
  border-bottom: 10px solid #f4f4f4;
  border-radius: 15px;
}

#tabelpolos table td {
font-family: Lato-Regular;
  font-size: 15px;
  color: #444242;
  line-height: 1.4;
  background-color: #f4f4f4;
  text-align: right;
  border: solid 1px transparent;
  border-style: solid none;
  font-weight: unset;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;  
}

#tabelpolos tr:hover td {
  
}

#tabelpolos td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

#tabelpolos td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}


.formpesan input[type=number] {
     border: 1px solid #444242;
    border-radius: 0;
    width: 60%;
    padding: 2px 2px 2px 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.formpesan input[type=number]:hover{
  /*border:none;
  border: 1px solid #e0dede;
  background-color: #f4f4f4;*/
}



.formpesan input[type=date]{
  border: 1px solid #444242;
    border-radius: 0;
    width: 15%;
    padding: 2px 2px 2px 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.jarakiri{
  margin-left: 30px;
}

input[type=date]:hover{
 /*border:none;
  border: 1px solid #e0dede;
  background-color: #f4f4f4;*/
}
.body{
  font-family: lato-bold;
  background-color: #f4f4f4;
  color:#444242;;
}

nav ul{
  /*border-radius: 5px;*/
  list-style-type: none;/*titik disamping menu*/
  background-color: #f2f2f2;;
  overflow: hidden;
  margin:0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  /*top: 0;*/
  border-bottom: /*1px solid #e7e7e7*/;

}

nav li{
  float: right;

}

nav li a{
  display: block;
  text-decoration: none;
  margin-top: 20px;
  color: black;
  text-align: center;
  padding: 25px 27px;
  font-size: 15px;
  font-family: couture;
  border-bottom-color: #ec462e;
}

.jaraktabel{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*padding: 33px 30px;*/
  margin-top: 2%;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
 /*  min-height: 60vh;*/
  border-collapse: separate; 
  border-spacing: 0 10px; 
  overflow: hidden;
  background-color: #fff;
  margin-right: -30px;
  padding-right: 30px;
  margin-bottom: 4%;
}

tr {
  overflow: hidden; 
  border-bottom: 10px solid #fff;
  border-radius: 15px;
}

td {
font-family: Lato-Regular;
  font-size: 15px;
  color: #444242;
  line-height: 1.4;
  background-color: #f4f4f4;

  border: solid 1px transparent;
    border-style: solid none;
    /*padding-top: 10px;
    padding-bottom: 10px;*/

    font-weight: unset;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  
}

tr:hover td {
  background-color: #ebebeb;
  cursor: pointer;
}

th {
  padding-top: 25px;
  padding-bottom: 25px;
      font-weight: unset;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

th {
   overflow: hidden; 
  border-bottom: 10px solid #fff;
  border-radius: 10px;
  
}

tr:nth-child(even) {background-color: #f2f2f2;}

.alas {
  width: 1020px;
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

nav li a:hover{
 /* background-color: #111*/ /*#35507c*/;
  text-decoration: none;
  color: #ec462e;
}

.aktif{
  background-color: white;
  color: #00284c;
}

.logoheader{
  margin-top: 5px;
  width: 8%;
  height: auto;
}

.parallaxhome{
  background-image: url("../gambar/8.jpg");
  min-height: 382px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Cocogoose;
  font-size: 90px;
  color: #f3f3f3;
  text-shadow: 3px 3px #293d5e;
  text-align: left;
  padding-top: 0px;
  font-weight: 500; 
  -webkit-filter:brightness(70%);
}

.parallaxheader{
  background-image: url("../gambar/14.jpg");
  min-height: 382px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 /* font-family: Cocogoose;
  font-size: 90px;
  color: #f3f3f3;
  text-shadow: 3px 3px #293d5e;
  text-align: left;
  padding-top: 0px;
  font-weight: 500; */
  -webkit-filter:brightness(70%);
}
a{
      text-decoration: none;
    color: #767f87;
}
a:hover {
    text-decoration: none;
    color: black;
    }
.garis {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: #ec462e;
}

.putihtua{
  color: #f4f4f4;
}

.bputihtua{
  background-color: #f4f4f4;
}

.gambarmenu:hover{
  -webkit-filter:brightness(40%);
}

.subjudul{
  font-size: 50px;
}

.judul{
  font-family: Highstories Sans;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

.gambarmenu{
  width: 100%;
  height: auto;
}

.kiri{
  text-align: left;
}

.imgfood{
  width: 100px;
}

.kanan{
  text-align: right;
}

.textisi{
  font-size: 20px;
}

.textfooter{
  font-size: 18px;
}

.boren{
  background-color: #ec462e;
}

.bputih{
  background-color: white;
}

.putih{
  color: white;
}

.oren{
  color: #ec462e;
}

.item{
  color: black;
}

.bitem{
  background-color: black;
}
.kotak{
    padding: 20px;
    
    background-color:white;
    color: black;
    /*border: 1px solid gold;*/
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.box{
   padding: 10px;
    background-color:black;
    margin: 20px;
    color: white;
    text-shadow: 1px 1px black;
    /*margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;*/
    border-radius: 8px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

.bayangan{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.kotakorder{
    padding: 10px;
    background-color:white;
    margin: 20px;
    /*color: white;*/
    /*text-shadow: 1px 1px black;*/
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.jarakatas{
  margin-top: 3%;
}

.jarakanan{
  margin-right: 30px;
}

.jarakbawah{
  margin-bottom: 5%;
}

.btnpesan{
    
    padding: 14px 26px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black;
    border: 2px solid black;
    border-radius: 8px;
}

.btnpesan:hover {
    border: 2px solid #ec462e;
    color: #ff3232;
}

.footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   font-family: none;
   /*text-shadow: 2px 1px black;*/

}

.copyright{
  font-size: 15px;
 text-align: left;
  /*font-family: Dotum;*/
  color: black;
}
.logofooter{
  width: 60%;
  height: auto;
}

/*.textparallax{
  font-size: 40px;
  color: #ff3232;
  background-color: #ffedba;
}*/

#link a:hover{
  text-decoration: none;
  color: #ec462e;
}

.infotxt{
  font-family: LATO-BOLD;
  font-size: 25px;
  float: right;
  text-shadow : 1px 2px black;

}

.tkiri{
  text-align: left;
}

.jarakiri{
  margin-left: 5%;
}

.info{
   left: 0;
   bottom: 0;
   width: 100%; 
   background-color: #ba2f1b;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   color: white;
   
   /*border-radius: 10px;*/
  /* -webkit-filter:brightness(70%);*/
}

.btnedit{
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: black;
  color: white;

}

.space-footer{
  margin-bottom: 4%;
}

.btnedit:hover{
  color: white;
}

#read table {
  border-collapse: collapse;
  width: 70%;
 /*  min-height: 60vh;*/
  border-collapse: separate; 
  border-spacing: 0 10px; 
  overflow: hidden;
  background-color: #fff;
   margin-right: -30px;
padding-right: 30px;
margin-bottom: 4%;
}

#read table tr {
  overflow: hidden; 
  border-bottom: 10px solid #fff;
  border-radius: 15px;
}

#read table td {
font-family: Lato-Regular;
  font-size: 15px;
  color: #444242;
  line-height: 1.4;
  background-color: #f4f4f4;
  text-align: center;
  border: solid 1px transparent;
    border-style: solid none;
    /*padding-top: 10px;
    padding-bottom: 10px;*/

    font-weight: unset;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  
}

#read tr:hover td {
  background-color: #ebebeb;
  cursor: pointer;
}

th {
  padding-top: 25px;
  padding-bottom: 25px;
      font-weight: unset;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

#readashboard td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

#readashboard td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.lform{
  font-size: 20px;
  font-family: lato-bold;
}

#edit table {
  border-collapse: collapse;
  width: 70%;
 /*  min-height: 60vh;*/
  border-collapse: separate; 
  border-spacing: 0 10px; 
  overflow: hidden;
  background-color: #fff;
   margin-right: -30px;
padding-right: 30px;
margin-bottom: 4%;
}

#edit table tr {
  overflow: hidden; 
  border-bottom: 10px solid #fff;
  border-radius: 15px;
}

#edit table td {
font-family: Lato-Regular;
  font-size: 15px;
  color: #444242;
  line-height: 1.4;
  background-color: #f4f4f4;
  text-align: center;
  border: solid 1px transparent;
    border-style: solid none;
    /*padding-top: 10px;
    padding-bottom: 10px;*/

    font-weight: unset;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  
}

#edit tr:hover td {
  background-color: #ebebeb;
  cursor: pointer;
}

#edit td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

#edit td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

input[type=text], select {
   width: 60%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  }

input[type=text]:hover{
  /*background-color:#ebebeb;*/
  border:none;
  border: 1px solid #e0dede;
  background-color: #f4f4f4;

}
input[type=number] {
    width: 60%;
    background-color: #f4f4f4;
    padding: 10px 10px;
    /*margin-top: -5px;*/
    margin: 8px 0;
    display: inline-block;
    /*border: 1px solid #ec462e;*/ /*abuabu*/
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    /*border-bottom: 2px solid red;*/
}
input[type=number]:hover{
  border:none;
  border: 1px solid #e0dede;
  background-color: #f4f4f4;
}

input[type=date]{
  width: 60%;
    background-color: #f4f4f4;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
}

input[type=date]:hover{
 border:none;
  border: 1px solid #e0dede;
  background-color: #f4f4f4;
}

.ttengah{
  text-align: center;
}
