.filter{
	padding: 5px;
	font-size: 18px;
	color: white;
	background-color: black;
	width: 67%;
	margin-left: 310px;
	text-align: left;
	margin-top: 40px;
}
.filter1{
	padding: 5px;
	font-size: 18px;
	color: white;
	background-color: black;
	width: 67%;
	margin-left: 310px;
	text-align: left;
	margin-top: -50px;
}
.h1-color{
	color: #090b16;
	width: 90%;
	margin-left: 10px;
}
.h1-color1{
	color: #090b16;
	width: 90%;
	margin-left: 50px;
}
.login-box{
	width: 1000px;
	position: absolute;
	top:45%;
	left: 54%;
	transform: translate(-50%,-50%);
}
input[type=date]{
	padding: 6px;
	border-radius: 4px;
	border: none;
	outline: none;
 	width: 60px;
	background: none;
	color: #090b16;
	font-size: 18px;
	background: transparent;
	border: 1px solid #ec462e;
	margin-top: 40px;
}
.tgl{
	margin-left: 60px;
	width: 70px;
}
.hasil{
	padding: 5px;
	padding: 5px;
	font-size: 18px;
	color: white;
	background-color: black;
	width: 67%;
	margin-left: 310px;
	text-align: left;
	margin-top: 230px;
}
input[type=submit]{
	background-color: black;	 
	border-radius: 10px;
	padding: 7px;
	border: 2px solid black;
	color: white;
}